<div class="container">
    <h1>Sports</h1>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let sport of sports">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{ sport }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <br/>
    <h1>Autres</h1>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let other of others">
        <mat-card appearance="outlined" class="card">
          <mat-card-header>
            <mat-card-title>{{ other }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let detail of passions.other">
        <mat-card class="card">
          <mat-card-title color="primary">{{ detail.string }}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <br />
    </mat-grid-list> -->
  </div>
  