.card {
    margin: 20px;
    padding-bottom: 0;
    width: 100%;
    align-items: center;
    transition: all .05s ease-in-out; 
  }
  
  .card:hover {
    transform: scale(1.01); 
  }

  h1{
    padding-left: 10px;
    margin-bottom: 5px;
  }

//   .container{
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     height: 100%;
//   }