<div class="container">
  <h2>Experiences professionnelles</h2>
  <mat-divider></mat-divider>
  <mat-card class="card" *ngFor="let exp of experiences?.pro">
    <mat-card-header>
      <mat-card-title >{{ exp.title }}</mat-card-title>
      <mat-card-subtitle 
        >{{ exp.company }} - {{ exp.location }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let desc of exp.descriptions">
      <p>
        <mat-icon color="accent" class="bullet">lens</mat-icon>
        {{ desc }}
      </p>
    </div>
    </mat-card-content>
    <mat-card-footer align="end">
      {{ exp.dfrom }} / {{ exp.to }}
    </mat-card-footer>
  </mat-card>

  <h2>Stages</h2>
  <mat-divider></mat-divider>
  <mat-card class="card" *ngFor="let exp of experiences?.stage">
    <mat-card-header>
      <mat-card-title>{{ exp.title }}</mat-card-title>
      <mat-card-subtitle
        >{{ exp.company }} - {{ exp.location }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let desc of exp.descriptions">
        <p>
          <mat-icon color="accent" class="bullet">lens</mat-icon>
          {{ desc }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-footer align="end">
      {{ exp.dfrom }} / {{ exp.to }}
    </mat-card-footer>
  </mat-card>
</div>
