.content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
  }
  
  .content > mat-card {
    width: 200px;
  }
  
  .card-container{
    width: 200px;
  }
  
  .card {
    margin: 20px;
    // padding-bottom: 0;
    width: 100%;
    align-items: center;
    transition: all 0.05s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.01);
  }
  