.card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }