.root-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.side-bar {
  display: flex;
  flex-grow: 1;
}

.drawer-main {
  min-width: 64px;
  max-width: 600px;
}

.content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
}

// .cards {
//   max-width: 70%;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   margin-left: 15%;
//   margin-right: 15%;
// }
