<div class="elementor-section-wrap">
  <header>
    <mat-toolbar color="primary">
      <button mat-button class="home-button">
        <a class="home-button-text">
          {{cvData[0].header.name}} {{cvData[0].header.surname}}
        </a>
      </button>
    </mat-toolbar>
  </header>

  <nav>
    <div class="side-bar">
      <mat-drawer-container class="example-container" hasBackdrop="false">
        <mat-drawer class="drawer-main" #drawer mode="side">dzqdq zdq sfqdg lkdshfg ishdfogishod
          fgih sodfh gosdfogsdI'm
          a
          drawer</mat-drawer>
        <mat-drawer-content>

          <button mat-raised-button (click)="drawer.toggle()">
            <mat-icon class="home-button-icon" fontIcon="home">home</mat-icon>
          </button>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </nav>

  <!-- <nav>
  <a class="button" routerLink="/exp">Experiences</a> |
  <a class="button" routerLink="/edu">Diplomes</a>
</nav> -->

  <div class="home-container">
    <app-homepage></app-homepage>
  </div>


  <div class="cards">
    <app-experiences [experiences]="cvData[0].experiences"></app-experiences>
    <app-formations [education]="cvData[0].educations"></app-formations>
    <app-skills [skills]="cvData[0].skills"></app-skills>
  </div>


  <router-outlet></router-outlet>
</div>