.root-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-spacer{
  flex: 1 1 auto;
}

.side-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex: 1 1 0%;
}

.side-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-content {
  flex: 1;
  overflow-x: auto;
  display: flex;
}

.app-content{
  width:100%;
  margin: 16px 15% 16px 15%;
}

.nav-socials {
  position: absolute;
  left: 15px;
  bottom: 38px;
}

.nav-footer {
  justify-content: space-between;
}



.nav-filler {
  flex-grow: 1;
}

.site-title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.active{
  background-color: rgba(0, 0, 0, 0.04);
}

i {
  font-size: large;
}
