<div class="root-app" #root>
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ "APP.TITLE" | translate }}</span>
      <span class="header-spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [attr.aria-label]="'APP.MENU' | translate"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="setLanguage('fr')"
          [class.selected]="currentLang === 'fr'"
        >
          <mat-icon>{{ currentLang === "fr" ? "check" : "" }}</mat-icon>
          <span>🇫🇷 Français</span>
        </button>
        <button
          mat-menu-item
          (click)="setLanguage('en')"
          [class.selected]="currentLang === 'en'"
        >
          <mat-icon>{{ currentLang === "en" ? "check" : "" }}</mat-icon>
          <span>🇬🇧 English</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="downloadPDF()">
          <mat-icon color="accent">download</mat-icon>
          <span>{{ "APP.VERSION_PDF" | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </header>
  <mat-drawer-container
    autosize
    class="side-container"
    hasBackdrop="{{ hasDrop }}"
  >
    <mat-drawer
      #drawer
      [mode]="mdm"
      opened
      style="border-right: 1px solid #e0e0e0"
    >
      <div class="side-wrapper">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a [routerLink]="['/']" name="home">
            <mat-list-item
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><mat-icon class="item-align" mat-list-icon>home</mat-icon>
              <span class="item-align">{{
                "NAV.MENU_TITLE.HOME" | translate
              }}</span>
            </mat-list-item>
          </a>
          <a [routerLink]="['/experiences']" name="exp">
            <mat-list-item routerLinkActive="active"
              ><mat-icon class="item-align" mat-list-icon>work</mat-icon>
              <span class="item-align">{{
                "NAV.MENU_TITLE.EXPERIENCES" | translate
              }}</span>
            </mat-list-item>
          </a>
          <a [routerLink]="['/education']" name="edu">
            <mat-list-item routerLinkActive="active"
              ><mat-icon class="item-align" mat-list-icon>school</mat-icon>
              <span class="item-align">{{
                "NAV.MENU_TITLE.EDUCATION" | translate
              }}</span>
            </mat-list-item>
          </a>
          <a [routerLink]="['/skills']" name="skills">
            <mat-list-item routerLinkActive="active"
              ><mat-icon class="item-align" mat-list-icon>code</mat-icon>
              <span class="item-align">{{
                "NAV.MENU_TITLE.SKILLS" | translate
              }}</span>
            </mat-list-item>
          </a>
          <a [routerLink]="['/passions']" name="passions">
            <mat-list-item routerLinkActive="active"
              ><mat-icon class="item-align" mat-list-icon>favorite</mat-icon>
              <span class="item-align">{{
                "NAV.MENU_TITLE.PASSIONS" | translate
              }}</span>
            </mat-list-item>
          </a>
        </mat-nav-list>
        <mat-toolbar color="accent">
          <button
            mat-icon-button
            class="social-button"
            (click)="openLinkedIn()"
          >
            <i class="devicon-linkedin-plain"></i>
          </button>
          <button mat-icon-button class="social-button" (click)="openGitHub()">
            <i class="devicon-github-original"></i>
          </button>
          <button mat-icon-button class="social-button" (click)="popAngular()">
            <i class="devicon-angularjs-plain"></i>
          </button>
        </mat-toolbar>
      </div>
    </mat-drawer>
    <mat-drawer-content class="side-content">
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
